---
layout: default
title: Miika Kivilo|Graphic Design
featured-gallery:
  - featured_image: /uploads/MASKNEW2.jpg
    heading:
  - featured_image: /uploads/MASKNEW1.jpg
    heading:
  - featured_image: /uploads/BESTIE2.jpg
    heading:
  - featured_image: /uploads/bestie1.jpg
    heading:
  - featured_image: /uploads/alien-babe.jpg
    heading: Alien Gurl
  - featured_image: /uploads/mermaid-betch.jpg
    heading: Self Portrait
  - featured_image: /uploads/sleutz.jpg
    heading: Honeymoon
  - featured_image: /uploads/pink-mountainz-computer-art-copy.jpg
    heading: Pink Mountains
  - featured_image: /uploads/CH-CH-CHECKITGRAPHIC.jpg
    heading:
---

<section class="featured-gallery grid" id="featured">
  {% for item in page.featured-gallery %}

  <div class="col-6_xs-12-middle gallery-item">
    <a href="{{item.featured_image}}" data-lightbox="featured" data-title="{{item.heading}}">
      <div style="background-image:url({{item.featured_image}})" class="gallery-image">
        <div class="overlay"></div>
      </div>
    </a>
  </div>

  {% endfor %}

  {% for item in page.featured-gallery offset:8 %}

  <a href="{{item.featured_image}}" data-lightbox="featured" data-title="{{item.heading}}"></a>

  {% endfor %}
</section>
