---
layout: art-gallery
title: Miika Kivilo|Graphic Design
featured-gallery:
  - featured_image: /uploads/Collections/vday2.gif
    heading:
  - featured_image: /uploads/Collections/newmobileshockwave2.png
    heading:
  - featured_image: /uploads/Collections/MASKNEW2.jpg
    heading:
  - featured_image: /uploads/Collections/bratty2.gif
    heading:
  - featured_image: /uploads/Collections/BESTIE2.jpg
    heading:
  - featured_image: /uploads/Collections/STREETSAVVY2.jpg
    heading:
  - featured_image: /uploads/Collections/ravebooty2.gif
    heading:
  - featured_image: /uploads/Collections/drip2.gif
    heading:
  - featured_image: /uploads/Collections/SPARKL2.jpg
    heading:
  - featured_image: /uploads/Collections/SHOESMOBILE copy.jpg
    heading:
---

<section class="featured-gallery grid" id="featured">
  {% for item in page.featured-gallery %}

  <div class="col-6_xs-12-middle gallery-item">
    <a href="{{item.featured_image}}" data-lightbox="featured" data-title="{{item.heading}}">
      <div style="background-image:url({{item.featured_image}})" class="gallery-image">
        <div class="overlay"></div>
      </div>
    </a>
  </div>

  {% endfor %}

  {% for item in page.featured-gallery offset:8 %}

  <a href="{{item.featured_image}}" data-lightbox="featured" data-title="{{item.heading}}"></a>

  {% endfor %}
</section>
