---
layout: default
title: Miika Kivilo|Graphic Design
featured-gallery:
  - featured_image: /uploads/vday2.gif
    heading:
  - featured_image: /uploads/vday1.jpg
    heading:
  - featured_image: /uploads/newmobileshockwave2.png
    heading:
  - featured_image: /uploads/newdesktopshockwave.png
    heading:
  - featured_image: /uploads/MASKNEW2.jpg
    heading:
  - featured_image: /uploads/MASKNEW1.jpg
    heading:
  - featured_image: /uploads/drip2.gif
    heading:
  - featured_image: /uploads/drip1.jpg
    heading:
  - featured_image: /uploads/BESTIE2.jpg
    heading:
  - featured_image: /uploads/bestie1.jpg
    heading:
  - featured_image: /uploads/STREETSAVVY2.jpg
    heading:
  - featured_image: /uploads/STREETSAVVY1.jpg
    heading:
  - featured_image: /uploads/ravebooty2.gif
    heading:
  - featured_image: /uploads/ravebooty1.jpg
    heading:
  - featured_image: /uploads/bratty2.gif
    heading:
  - featured_image: /uploads/bratty1.jpg
    heading:
  - featured_image: /uploads/SPARKL2.jpg
    heading:
  - featured_image: /uploads/SPARKL1.jpg
    heading:
  - featured_image: /uploads/runaway2.jpg
    heading:
  - featured_image: /uploads/runaway1.jpg
    heading:
  - featured_image: /uploads/splash2.jpg
    heading:
  - featured_image: /uploads/splash1.jpg
    heading:
  - featured_image: /uploads/pasteldreams2.jpg
    heading:
  - featured_image: /uploads/pasteldreams1.jpg
    heading:
  - featured_image: /uploads/SHOESMOBILE copy.jpg
    heading:
  - featured_image: /uploads/SHOESdesktop.jpg
    heading:
  - featured_image: /uploads/CH-CH-CHECKITGRAPHIC.jpg
    heading:
  - featured_image: /uploads/RAVEBOOTY.png
    heading:
  - featured_image: /uploads/RAVEREPEATSTICKER.png
    heading:
  - featured_image: /uploads/butterflysticker.png
    heading:
  - featured_image: /uploads/icescreamsticker.png
    heading:
  - featured_image: /uploads/miikastickerr.png
    heading:
  - featured_image: /uploads/drippysmilestickergreen.png
    heading:
  - featured_image: /uploads/technostickerr.png
    heading:
  - featured_image: /uploads/RAVEFRIENDS.png
    heading:
  - featured_image: /uploads/randyspaceship-1.png
    heading:
  - featured_image: /uploads/rwbabestickerr.png
    heading:
  - featured_image: /uploads/thankyoustickerr.png
    heading:
---

<section class="featured-gallery grid" id="featured">
  {% for item in page.featured-gallery %}

  <div class="col-6_xs-12-middle gallery-item">
    <a href="{{item.featured_image}}" data-lightbox="featured" data-title="{{item.heading}}">
      <div style="background-image:url({{item.featured_image}})" class="gallery-image">
        <div class="overlay"></div>
      </div>
    </a>
  </div>

  {% endfor %}

  {% for item in page.featured-gallery offset:8 %}

  <a href="{{item.featured_image}}" data-lightbox="featured" data-title="{{item.heading}}"></a>

  {% endfor %}
</section>
