---
layout: art-gallery
title: Miika Kivilo|Art Instalations
featured-gallery:
  - featured_image: /images/miikaart1.jpg
    heading: Inside and Closer
  - featured_image: /images/miikaart2.jpg
    heading: Inside and Closer
  - featured_image: /images/miikaart3.jpg
    heading: Inside and Closer
  - featured_image: /images/miikaart4.jpg
    heading: Inside and Closer
  - featured_image: /images/miikaart5.jpg
    heading: Inside and Closer
  - featured_image: /images/miikaart6.jpg
    heading: Inside and Closer
  - featured_image: /images/miikaart7.jpg
    heading: Inside and Closer
  - featured_image: /images/miikaart8.jpg
    heading: Inside and Closer
  - featured_image: /images/miikaart9.jpg
    heading: Inside and Closer
  - featured_image: /images/miikaart10.jpg
    heading: Inside and Closer
  - featured_image: /images/miikaart11.jpg
    heading: Inside and Closer
  - featured_image: /images/miikaart12.jpg
    heading: Inside and Closer
  - featured_image: /uploads/thumbnail.jpg
    heading: Inside and Closer
  - featured_image: /uploads/img-2329.jpg
    heading: Inside and Closer
  - featured_image: /uploads/img-2407.JPG
    heading: Inside and Closer
  - featured_image: /uploads/mkivilophoto5.jpg
    heading: Inside and Closer
  - featured_image: /uploads/mkivilophoto3.jpg
    heading: Inside and Closer
  - featured_image: /uploads/mkivilophoto1.jpg
    heading: Inside and Closer
  - featured_image: /uploads/img-2328.jpg
    heading: Inside and Closer
  - featured_image: /uploads/img-6676-1.jpg
    heading: Beer Money
---

<section class="featured-gallery grid" id="featured">
  <div class="col-12 section-heading centered"> <h3> Installations</h3></div>

  {% for item in page.featured-gallery %}

  <div class="col-4_xs-12-middle gallery-item">
    <a href="{{item.featured_image}}" data-lightbox="featured" data-title="{{item.heading}}">
      <div style="background-image:url({{item.featured_image}})" class="gallery-image">
        <div class="overlay"></div>
      </div>
    </a>
  </div>

  {% endfor %}

  {% for item in page.featured-gallery offset:8 %}

  <a href="{{item.featured_image}}" data-lightbox="featured" data-title="{{item.heading}}"></a>

  {% endfor %}
</section>
