---
layout: art-gallery
title: Miika Kivilo|Art Instalations
featured-gallery:
  - featured_image: /images/_MG_075.jpg
    heading: Inside and Closer
  - featured_image: /images/_MG_0708.jpg
    heading: Inside and Closer
  - featured_image: /images/Mg_0709.jpg
    heading: Inside and Closer
  - featured_image: /images/_MG_0712.jpg
    heading: Inside and Closer
  - featured_image: /images/_MG_0714.jpg
    heading: Inside and Closer
  - featured_image: /images/_MG_0716.jpg
    heading: Inside and Closer
  - featured_image: /images/_MG_0718.jpg
    heading: Inside and Closer
  - featured_image: /images/_MG_0719.jpg
    heading: Inside and Closer
  - featured_image: /images/Mg_0720.jpg
    heading: Inside and Closer
  - featured_image: /images/_MG_0721.jpg
    heading: Inside and Closer
  - featured_image: /images/_MG_0722.jpg
    heading: Inside and Closer
  - featured_image: /images/_MG_0723.jpg
    heading: Inside and Closer
  - featured_image: /images/_MG_0724.jpg
    heading: Inside and Closer 
---


<section class="featured-gallery grid" id="featured">
  <div class="col-12 section-heading centered"> <h3> Installations</h3></div>

  {% for item in page.featured-gallery %}

  <div class="col-4_xs-12-middle gallery-item">
    <a href="{{item.featured_image}}" data-lightbox="featured" data-title="{{item.heading}}">
      <div style="background-image:url({{item.featured_image}})" class="gallery-image">
        <div class="overlay"></div>
      </div>
    </a>
  </div>

  {% endfor %}

  {% for item in page.featured-gallery offset:8 %}

  <a href="{{item.featured_image}}" data-lightbox="featured" data-title="{{item.heading}}"></a>

  {% endfor %}
</section>
