/* INDEX  --------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
  - HEADER & FOOTER
  - MODULAR ELEMENTS
    - Element Name
  - FORMS
  - SPECIFIC PAGES
    - Page Name
---------------------------
Website Fonts: List fonts here for reference
Website Colours: List colour hex codes here for reference
----------------------------
*/

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;

}
body {
  color: rgb(60,60,60);
  /* font-family: 'Noto Serif JP', serif; */
}

img {
  max-width: 100%;
  max-height: 100%; /* This ensures an image never breaks it's container */

}

a{
  text-decoration:none;
  color: rgb(60, 60, 60)
}

/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }

.left         { text-align: left; }
.centered     { text-align: center; }
.right        { text-align: right; }

.no-padding { padding: 0; }

.padded-1 { padding: 1%; }
.padded-3 { padding: 3%; }
.padded-4 { padding: 4%; }
.padded-5 { padding: 5%; }
.padded-10 {padding: 10%; }
.padded-5-10 {padding: 5% 10%; }

.padded-top-1 { padding-top: 1%;}

.mob-show { display: none;}

.bg-img {
  background-color: grey;
  background-size: cover;
  background-position: center;
}

[class*=col-], [class*=col_], [class~=col], [class*=grid-], [class*=grid_], [class~=grid], [class*=col-], [class*=col_], [class~=col] [class*=grid-], [class*=grid_], [class~=grid]{
  padding:0;
  margin:0;
}

html{
  scroll-behavior:smooth;
}

/* fonts */

h1, .main-title{
  font-family: 'Shrikhand', cursive;
}

a, p, h2, h4, h3{
  font-family: 'Quicksand', sans-serif;
}
/* HEADER  */


body{
  padding-top:15px;
}


.title{
  padding:4rem;
  background-image:url("/images/logo2.png");
  background-position:center;
  background-size:cover;
}


.space-around{
  display:flex;
  justify-content:space-around;
}

.menu-main{
  padding-left:10px;
}

.home-menu{
  padding-top:2rem;
  padding-left:20px;
}
.home-menu a {
  text-decoration:none;
  font-size:15px;
  color: rgb(60,60,60);
  transition: 0.2s;
}

.home-menu a:hover{
  color:#FE5BAC;
}



/* About Me */
.aboutbox{
  padding:2rem 0;
}

.text-box{
  padding:4rem 0rem 2rem 2rem;
}

.about-img{
  margin:auto;
}

.section-heading{
  font-size:25px;
  padding-bottom:5%;
}

.email{
  padding-top:39px;
}

span{
  font-weight: bold;
}

.about-image{
  background-image:url("/images/0.jpg");
  background-position:center;
  background-size:cover;
}


.social-media{
  position:absolute;
  margin-top: 178px;
  width:100%;
  text-align:center;
  z-index:5;
}

.social-icon a{
  background-color:#FE5BAC;
  padding:5px;
  border-radius:5px;
  color:white;
  font-size:30px;
}

.footer-icons a, .legal-text h5{
  color:#FE5BAC;
}

.fa{
  font-size:20px;
}

.footer-text{
  margin:auto;
  margin-top:230px;
  padding:9px;
  background-color:#FE5BAC;
  color:white;
}

.legal-text{
  padding:7px;
}
.footer-icons{
  text-align:center;
}

/* LIGHTBOX GALLERY */
.gallery-image{
  height:10vh;
}

.featured-gallery{
  padding:3rem 1rem 2rem;
}

.featured-gallery p{
  font-family:arial;
}

h3 {
  font-size:25px;
}

.gallery-item{
  /* min-height: 29vw; */
  padding:15px;
  padding-top:0;
  padding-bottom:30px;
}


.gallery-image{
  padding:40%;
  background-size: cover;
  background-position: center;
  position:relative;
  height:60vh;
}

.overlay{
  background-color: rgba(252, 138, 195,0.5);
  opacity:0;
  height:100%;
  width:100%;
  z-index:3;
  position:absolute;
  top:0;
  left:0;
}

.overlay:hover{
  opacity:1;
  transition: all 0.5s;
}


/* Media Queries */
@media (max-width: 768px){
  .home-menu a {
    text-align:right;
    padding:0;
    padding-top:8px;
    display:block;
  }

  .slide1, .slide2, .slide3{
    height:80vh;
  }

  .home-menu{
    padding:0rem 1rem 0rem 9rem;
    display:block;
  }


  .aboutbox{
    background-color:rgba(250,231,231);
    padding:5%;
  }

  .title{
    padding:4rem;
    padding-left:5.5rem;
    background-image:url("/images/logo2.png");
    background-position:center;
    background-size:cover;
  }


  .text-box{
    margin:auto;
  }

  header{
    position:none;
  }


  .featured-gallery{
    padding: 0;
    padding-top:3rem;
  }


  footer{
    padding-top:2rem;
    }
  }
}
