/* INDEX  --------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
  - HEADER & FOOTER
  - MODULAR ELEMENTS
    - Element Name
  - FORMS
  - SPECIFIC PAGES
    - Page Name
---------------------------
Website Fonts: List fonts here for reference
Website Colours: List colour hex codes here for reference
----------------------------
*/

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;

}
body {
  color: rgb(60,60,60);
  /* font-family: 'Noto Serif JP', serif; */
}

img {
  max-width: 100%;
  max-height: 100%; /* This ensures an image never breaks it's container */

}

a{
  text-decoration:none;
  color: rgb(60, 60, 60)
}

/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }

.left         { text-align: left; }
.centered     { text-align: center; }
.right        { text-align: right; }

.no-padding { padding: 0; }

.padded-1 { padding: 1%; }
.padded-3 { padding: 3%; }
.padded-4 { padding: 4%; }
.padded-5 { padding: 5%; }
.padded-10 {padding: 10%; }
.padded-5-10 {padding: 5% 10%; }

.padded-top-1 { padding-top: 1%;}

.mob-show { display: none;}

.bg-img {
  background-color: grey;
  background-size: cover;
  background-position: center;
}

[class*=col-], [class*=col_], [class~=col], [class*=grid-], [class*=grid_], [class~=grid], [class*=col-], [class*=col_], [class~=col] [class*=grid-], [class*=grid_], [class~=grid]{
  padding:0;
  margin:0;
}

html{
  scroll-behavior:smooth;
}

/* fonts */

h1, .main-title{
  font-family: 'Shrikhand', cursive;
}

a, p, h2, h4, h3, h5{
  font-family: 'Quicksand', sans-serif;
}
/* HEADER  */


body{
  padding-top:15px;
}


.title{
  padding:4rem;
  background-image:url("/images/logo2.png");
  background-position:center;
  background-size:cover;
}


.space-around{
  display:flex;
  justify-content:space-around;
}

.menu-main{
  padding-left:10px;
}


.header, .wrapper, .nav, .nav__container, .hamburger__container, .mobil-menu{
  display:none;
}

.home-menu{
  padding-top:2rem;
  padding-left:20px;
}
.home-menu a {
  text-decoration:none;
  font-size:15px;
  color: rgb(60,60,60);
  transition: 0.2s;
}

.home-menu a:hover{
  color:#FAE0EC;
}




/* About Me */
.aboutbox{
  padding:2rem 0;
}

.text-box{
  padding:4rem 0rem 2rem 2rem;
}

.about-img{
  margin:auto;
}

.section-heading{
  font-size:25px;
  padding-bottom:5%;
}

.email{
  padding-top:39px;
}

span{
  font-weight: bold;
}

.about-image{
  background-image:url("/images/0.jpg");
  background-position:center;
  background-size:cover;
}


.social-media{
  position:absolute;
  margin-top: 178px;
  width:100%;
  text-align:center;
  z-index:5;
}

.social-icon a{
  padding: 3px;
      border-radius: 5px;
      background-color: #fae0ec;
      color: #fff;
      font-size: 30px;
      text-align: center;
      justify-content: center;
      display: flex;
      width: 7%;
      margin: auto;
}

.footer-icons a, .legal-text h5{
  color:#FAE0EC;
}

.fa{
  font-size:20px;
}

.footer-text{
  margin:auto;
  margin-top:230px;
  padding:9px;
  background-color:black;
  color:white;
}

.legal-text{
  padding:7px;
  color:black;
}

.footer-icons{
  text-align:center;
}

/* LIGHTBOX GALLERY */
.gallery-image{
  height:10vh;
}

.featured-gallery{
  padding:3rem 1rem 2rem;
}

.featured-gallery p{
  font-family:arial;
}

h3 {
  font-size:25px;
}

.gallery-item{
  /* min-height: 29vw; */
  padding:15px;
  padding-top:0;
  padding-bottom:30px;
}


.gallery-image{
  padding:40%;
  background-size: cover;
  background-position: center;
  position:relative;
  height:60vh;
}

.overlay{
  background-color: #fae0ecb0;
  opacity:0;
  height:100%;
  width:100%;
  z-index:3;
  position:absolute;
  top:0;
  left:0;
}

.overlay:hover{
  opacity:1;
  transition: all 0.5s;
}


/* Media Queries */
@media (max-width: 768px){
  .home-menu a {
    text-align:right;
    padding:0;
    padding-top:8px;
    display:block;
  }

  header{
    display:none;
  }

  .header, .wrapper, .nav, .nav__container, .hamburger__container, .mobil-menu{
    display:block;
  }

  .mobil-menu img{
    width:30%;
  }

  .mobil-menu{
    padding:10px 20px 0;
  }

  .hamburger__container:focus{
  outline:none;
}

.hamburger__container {
    display: block;
    float: right;
    padding: 1rem;
    margin: -1rem;
    cursor: pointer;
    margin-left: auto;
    position: absolute;
    top: 2.5vh;
    right: 2vh;
    background-color:transparent;
    border:none;
}

.hamburger {
    width: 1.20rem;
    height: 0.9375rem;
    /* position: relative; */
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: rotate(0deg); }
.hamburger i {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    background: #FAE0EC;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

    .index-hamburger i {
        display: block;
        position: absolute;
        width: 100%;
        height: 0.1875rem;
        background: white;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger i:nth-of-type(1) {
    top: 0;
    transform-origin: left center; }
.hamburger i:nth-of-type(2) {
    top: 0.375rem;
    transform-origin: left center; }
.hamburger i:nth-of-type(3) {
    top: 0.75rem;
    transform-origin: left center; }
.hamburger.open i:nth-of-type(1) {
    transform: rotate(45deg) translate(0, -0.0625rem);
    background-color: #FAE0EC;
  }
.hamburger.open i:nth-of-type(2) {
    opacity: 0;
    width: 0%; }
.hamburger.open i:nth-of-type(3) {
    transform: rotate(-45deg) translate(0, 0.0625rem);
  background-color: #FAE0EC;
}

/* Index page  */
.index-hamburger {
    width: 1.20rem;
    height: 0.9375rem;
    /* position: relative; */
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: rotate(0deg); }
.index-hamburger i {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    background: white;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }
.index-hamburger i:nth-of-type(1) {
    top: 0;
    transform-origin: left center; }
.index-hamburger i:nth-of-type(2) {
    top: 0.375rem;
    transform-origin: left center; }
.index-hamburger i:nth-of-type(3) {
    top: 0.75rem;
    transform-origin: left center; }
.index-hamburger.open i:nth-of-type(1) {
    transform: rotate(45deg) translate(0, -0.0625rem);
    background-color: black;
  }
.index-hamburger.open i:nth-of-type(2) {
    opacity: 0;
    width: 0%; }
.index-hamburger.open i:nth-of-type(3) {
    transform: rotate(-45deg) translate(0, 0.0625rem);
  background-color: black;
}

.code {
    font-weight: 400;
    font-family: monospace,monospace;
    padding: 0 8px;
    background: #e0e0e0;
}

.content {
    padding: 50px 20px;
}

#content {
    opacity: 0.7;
}




    /* html.noscroll {
        overflow: hidden;
    } */


    body.noscroll {
        overflow: visible;
        height: 100%;
    }

    .logo, .hamburger__container {
        /* position: relative; */
        z-index: 9999;
    }

    .nav {
        width: 100% !important;
        position: fixed;
        top: 0;
        right: -120%;
        background-color: #ffffff;
        z-index: 8;
        padding-top: 3.5rem;
        height: 100%;
        transition: 2s;
        line-height: 37px;
    }



    .open {
        opacity: 1;
        right: 0;
    }

    .nav__container {
        position: absolute;
        padding: 10rem 20px 30px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* These 2 below are all the magic: */
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    li{
      list-style:none;
      text-align:center;
    }

    li a{
      font-family: 'Shrikhand', cursive;
      font-size:30px;
      text-align:center;
    }

    li a:hover{
      color:#fae0ec;
    }

    .mobile-menu {
        display: -ms-flexbox;
        /* display: -webkit-flex;
        display: flex; */
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
    }

  .slide1, .slide2, .slide3{
    height:80vh;
  }

  .home-menu{
    padding:0rem 1rem 0rem 9rem;
    display:block;
  }

  .about-img{
    order:-1;
  }

  .aboutbox{
    padding:0;
  }

  .text-box{
    text-align:center;
    padding:3rem;
  }

  .title{
    padding:4rem;
    padding-left:5.5rem;
    background-image:url("/images/logo2.png");
    background-position:center;
    background-size:cover;
  }


  .text-box{
    margin:auto;
  }

  header{
    position:none;
  }


  .featured-gallery{
    padding: 0;
    padding-top:3rem;
  }


  footer{
    padding-top:2rem;
    }
  }
}
