---
layout: default
title: Miika Kivilo|Paintings
featured-gallery:
  - featured_image: /uploads/Painting/img-6676-1.jpg
    heading: Desert Dream
  - featured_image: /uploads/Painting/miika3.jpg
    heading:
  - featured_image: /uploads/Painting/miika-6.jpg
    heading:
  - featured_image: /uploads/Painting/tumblr-p5xfrviylj1smeo8vo1-1280.jpg
    heading:
  - featured_image: /uploads/Painting/miika20.jpg
    heading:
---

<section class="featured-gallery grid" id="featured">

  {% for item in page.featured-gallery %}

  <div class="col-6_xs-12-middle gallery-item">
    <a href="{{item.featured_image}}" data-lightbox="featured" data-title="{{item.heading}}">
      <div style="background-image:url({{item.featured_image}})" class="gallery-image">
        <div class="overlay"></div>
      </div>
    </a>
  </div>

  {% endfor %}

  {% for item in page.featured-gallery offset:8 %}

  <a href="{{item.featured_image}}" data-lightbox="featured" data-title="{{item.heading}}"></a>

  {% endfor %}
</section>
