---
layout: default
title: Miika Kivilo|Paintings
featured-gallery:
  - featured_image: /uploads/miika2.jpg
    heading:
  - featured_image: /uploads/15380704-10211585364129155-121766948629588353-n.jpg
    heading:
  - featured_image: /uploads/Painting/img-6676-1.jpg
    heading: Desert Dream
  - featured_image: /uploads/mkivilophoto6.jpg
    heading:
  - featured_image: /uploads/Painting/miika-6.jpg
    heading:
  - featured_image: /uploads/Painting/miika20.jpg
    heading:
  - featured_image: /uploads/Painting/miika3.jpg
    heading:
  - featured_image: /uploads/Painting/14724606-10210945280847473-5113052731971974607-n.jpg
    heading:
  - featured_image: /uploads/Painting/tumblr-no9bbaxvqh1smeo8vo1-1280.jpg
    heading:
  - featured_image: /uploads/Painting/tumblr-p5xfrviylj1smeo8vo1-1280.jpg
    heading:
  - featured_image: /uploads/miika5.jpg
    heading:
  - featured_image: /uploads/tumblr-mwng509p8q1smeo8vo1-1280.jpg
    heading:
  - featured_image: /uploads/img-9109.jpg
    heading:
  - featured_image: /uploads/Painting/miika4.jpg
    heading:
  - featured_image: /uploads/14657506-10210867023851097-2226898041431123542-n.jpg
    heading:
  - featured_image: /uploads/Painting/miika7.jpg
    heading:
---

<section class="featured-gallery grid" id="featured">

  {% for item in page.featured-gallery %}

  <div class="col-6_xs-12-middle gallery-item">
    <a href="{{item.featured_image}}" data-lightbox="featured" data-title="{{item.heading}}">
      <div style="background-image:url({{item.featured_image}})" class="gallery-image">
        <div class="overlay"></div>
      </div>
    </a>
  </div>

  {% endfor %}

  {% for item in page.featured-gallery offset:8 %}

  <a href="{{item.featured_image}}" data-lightbox="featured" data-title="{{item.heading}}"></a>

  {% endfor %}
</section>
