---
layout: default
---
<header class="grid art-nav">
  <a href="/" class="col-2"><div class="title"></div></a>

  <div class="col-10 home-menu space-around">
    <a href="/">About</a>
    <a href="/installations"> Installations</a>
    <a href="/painting">Painting</a>
    <a href="/makeup">Makeup</a>
  </div>


</header>

{{content}}

<section class="footer-icons">
<span class="social">
        <a  href="http://www.instagram.com/miikamouse" class="fa fa-instagram"></a>
        <a href="http://www.facebook.com/miikakiviloart" class="fa fa-facebook-square"></a>
        <a  href="http://www.miikakiviloart.tumblr.com" class="fa fa-tumblr-square"></a>
</span>
</div>

<div class="legal-text">
  <h5> © Miika Kivilo 2019. All rights reserved. </h5>
</div>
</section>
