---
layout: default
---
<header class="grid art-nav">
  <div class="col-5 title"> <a href="/"> MIIKA KIVILO </a> </div>

  <div class="col-7 home-menu">
    <a href="/">about</a>
    <div class="dropdown">
      <div class="dropbtn">art</div>
      <div class="dropdown-content">
        <a href="/instalations">art instalations</a>
        <a href="/painting">painting</a>
        <a href="/makeup">make-up</a>
      </div>
    </div>
    <a href="#contact">contact</a>
  </div>

</header>

{{content}}

<!--  - -  - - - - - - PARALAX  - - - - - - - - - - -->
<section class="paralax1"></section>
