---
layout: default
---
<header class="grid art-nav">
  <div class="col-5 title"> <a href="/"> MIIKA KIVILO </a> </div>

  <div class="col-7 home-menu space-around">
    <a href="/">about</a>
    <a href="/instalations"> instalations</a>
    <a href="/painting">painting</a>
    <a href="/makeup">makeup</a>
  </div>


</header>

{{content}}

<section class="footer-icons">
<span class="social">
        <a  href="http://www.instagram.com/miikamouse" class="fa fa-instagram"></a>
        <a href="http://www.facebook.com/miikakivilo" class="fa fa-facebook-square"></a>
        <a  href="http://www.miikakiviloart.tumblr.com" class="fa fa-tumblr-square"></a>
</span>
</div>

<div class="legal-text">
  <h5> © Miika Kivilo 2018. All rights reserved. </h5>
</div>
</section>
