<!DOCTYPE html>
<head>
  <title> Miika Kivilo </title>
  <!-- These are my css links, always put your own css last -->
  <!-- GOOGLE FONTS -->
  <link <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Staatliches" rel="stylesheet">
  <!-- viewport  -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- GRIDLEX -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
  <!-- lightbox -->
  <link href="/lightbox.min.css" rel="stylesheet">
  <!-- my css file -->
  <link href="/main.css" rel="stylesheet">
</head>

<body>

  {{content}}

  <!-- CONTACT FORM -->
  <section class="grid contact" id="contact">
    <div class="col-3_sm-12 space"></div>
    <div class="form">
      <h2> Want to collaborate? Send me a message...</h2>
      <form class="col-4 contact-form">
        <input type="email" name="_replyto" class="contact-input" placeholder="Your Email"></input>
        <textarea placeholder="Your Message"></textarea>
        <input type="submit" value="Submit" class="contact-button"></input>
      </form>
    </div>
    <div class="col-3_sm-12"></div>
  </section>

  <!-- FOOTER STUFF -->
  <footer class="grid centered">
    <div class="col-4">
        <a class="social-media" href="http://www.facebook.com/miikakivilo">Facebook</a>
    </div>
    <div class="col-4">
        <h5> © Miika Kivilo 2018. All rights reserved. </h5>
    </div>
    <div class="col-4">
        <a class="social-media" href="http://www.instagram.com/miikamouse">Instagram</a>
    </div>
  </footer>

  <script src="/lightbox-plus-jquery.min.js"></script>
  <script src="/main.js"></script>

</body>
</html>
